.diagram-container {
  position: relative;
  display: inline-block;
}
.diagram-container .outer {
  position: absolute;
  transform: translate(-50%, -50%);
}
.diagram text {
  dominant-baseline: middle;
  font-size: 85%;
}
.diagram rect,
.diagram ellipse,
.diagram path {
  stroke-width: 2;
}
.diagram .textLabel {
  text-anchor: middle;
}
.diagram .invisible {
  fill-opacity: 0.33;
  stroke-opacity: 0.33;
}
.diagram .rect, .diagram .circle {
  fill: #648FFF22;
  stroke: #648FFF;
}
.diagram .link {
  stroke: #648FFF;
  fill: none;
}
.diagram marker {
  stroke: none;
  fill: #648FFF;
}
.diagram .link.a {
  marker-end: url(#markerArrow);
}
.diagram .refLabel,
.diagram .typeLabel,
.diagram .contentLabel {
  text-anchor: middle;
}
.diagram .refLabel,
.diagram .typeLabel,
.diagram .contentLabel,
