@import url("https://fonts.googleapis.com/css?family=Livvic:400,400i,700,700i|Roboto+Mono:400,700,400i");
body {
  font-family: "Livvic";
}
.remark-slide-content {
  font-size: 22px;
}
.col1 { color: #648FFF }
.col4 { color: #785EF0 }
.col2 { color: #DC267F }
.col3 { color: #FE6100 }
.col5 { color: #FFB000 }

h1, h2, h3, h4 {
  font-weight: bold;
}
h1, h2 {
  text-decoration-line: underline;
  text-decoration-color: #DC267F;
}
code, .pseudo-code {
  border-radius: 0.5em;
}
.compact code {
  line-height: 70%;
  font-size: 60%;
}
.compact {
  line-height: 95%;
  font-size: 90%;
}
.pseudo-code.compact {
  line-height: 85%;
  font-size: 75%;
}
a {
  color: #DC267F;
  text-decoration-line: underline;
  text-decoration-color: #DC267F;
}
pre {
  margin: 0.1em 0;
}
p, ul, ol {
  margin: 0.5em 0;
}
ul ul, ol ul, ul ol {
  margin: 0;
}
.remark-code, .remark-inline-code {
  font-family: "Roboto Mono";
}
.remark-inline-code {
  color: #648FFF;
  font-size: 85%;
}
.pseudo-code, .pseudo-inline-code {
  font-family: "Roboto Mono";
  font-size: 85%;
}
.pseudo-code {
  color: #111;
  background-color: #DDD;
  padding: 0.5em;
  line-height: 90%;
}
.pseudo-code p {
  margin: 0;
}
.pseudo-code .katex {
  line-height: 90%;
}
.pseudo-code .i {
  display: inline-block;
  width: 1.5em;
}
.katex .st {
  font-size: 82%;
}
.cols {
  display: flex;
}
.c10 {
  flex: 10%;
}
.c15 {
  flex: 15%;
}
.c20 {
  flex: 20%;
}
.c25 {
  flex: 25%;
}
.c30 {
  flex: 30%;
}
.c40 {
  flex: 40%;
}
.c50 {
  flex: 50%;
}
.c60 {
  flex: 60%;
}
.c70 {
  flex: 70%;
}
.c75 {
  flex: 75%;
}
.c80 {
  flex: 80%;
}
.c90 {
  flex: 90%;
}
.cols > div:nth-child(1) {
  padding-right: 0.5em;
}
.cols > div:nth-last-child(1) {
  padding-left: 0.5em;
}
.cols .vcentered {
  align-self: center;
}
img {
  max-width: 100%;
}
.w50p img {
  width: 50%;
}
.w75p img {
  width: 75%;
}
.w100p img {
  width: 100%;
}
.h5ex img {
  height: 5ex;
}
.h10ex img {
  height: 10ex;
}
.h15ex img {
  height: 15ex;
}
.h20ex img {
  height: 20ex;
}
.h25ex img {
  height: 25ex;
}
.h30ex img {
  height: 30ex;
}
.h35ex img {
  height: 35ex;
}
.h40ex img {
  height: 40ex;
}
.footnote {
  position: absolute;
  bottom: 1.5em;
  margin-right: 6em;
}
.ref {
  color: #785EF0;
  font-style: oblique;
}
.vam {
  vertical-align: middle;
}
.big-quote {
  background-color: #DDD;
  padding: 0.1em 1em;
  font-size: 80%;
  border-radius: 0.5em;
}
.important {
  background-color: #DDD;
  padding: 0.1em 1em;
  font-size: 125%;
  border-radius: 0.25em;
}
.note, .footnote {
  color: darkgray;
  font-size: 75%;
}
span.note::before {
  content: "(";
}
span.note::after {
  content: ")";
}
.large {
  font-size: 150%;
}
.small {
  font-size: 75%;
}
.smaller {
  font-size: 50%;
}
.hspace5 {
  width: 5em;
  display: inline-block;
}
.vspace1 {
  height: : 1em;
  display: block;
}
.ttt {
  font-family: "Roboto Mono";
  color: #648FFF;
  font-size: 85%;
}
.key {
  font-weight: bold;
  text-decoration-line: underline;
  background-color: #DC267F33;
  text-decoration-color: #DC267F;
}
.center{
  text-align: center;
}
.center table {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
.right {
  text-align: right;
}
.dict-def {
  font-family: "Roboto Mono";
  color: #648FFF;
  font-size: 85%;
}
.nicetable tbody tr:nth-of-type(2n + 1) {
  background: #dddddd;
}
.nicetable tbody tr:nth-of-type(2n) {
  background: #eeeeee;
}
.nicetable th {
  text-align: center;
}
.nicetable td {
  margin: 0;
  padding: 0 0.5em;
  vertical-align: top;
}
.confmatrix table {
  border-spacing: 0;
}
.confmatrix td, .confmatrix th {
  text-align: center;
  padding: 0.25em;
}
.confmatrix th {
  border-bottom: 2px solid #111111;
}
.confmatrix tr th:first-of-type, .confmatrix tr td:first-of-type {
  border-right: 2px solid #111111;
  text-align: right;
}
.confmatrix .cm {
  font-size: 80%;
}
.confmatrix .cm:first-of-type {
  margin-top: 0.65em;
  vertical-align: bottom;
  display: inline-block;
}
.confmatrix .cm:nth-of-type(2) {
  margin-bottom: 0.65em;
  vertical-align: top;
  display: inline-block;
}
.confmatrix td:nth-child(n+3), .confmatrix th:nth-child(n+3) {
  border-left: 1px solid #111111;
}
.confmatrix tbody tr:nth-of-type(n+2) td:nth-of-type(n+1) {
  border-top: 1px solid #111111;
}

.striked {
  text-decoration: line-through;
  text-decoration-color: #DC267F;
}
.g {
  color: green;
}
.r {
  color: red;
}
.hcl {
  display: inline-block;
  overflow: hidden;
  width: 0.5em;
}
.hcr {
  display: inline-block;
  overflow: hidden;
  width: 0.5em;
}
.hc12 {
  color: linear-gradient(to right, #7db9e8 50%,#1e5799 50%);
}
.sb1, .sb2, .sb12 {
  display: inline-block;
  width: 1em;
  height: 1em;
}
.sb1 { background: #648FFF }
.sb2 { background: #DC267F }
.sb12 { background: linear-gradient(45deg, #648FFF 50%, #DC267F 50%) }
