@import url("https://fonts.googleapis.com/css?family=Livvic:400,400i,700,700i|VT323|Roboto+Mono:400,700,400i");
body {
  font-family: "Livvic";
  font-size: 5mm;
  padding: 1cm;
}
pre {
  padding: .25em;
  background-color: #101010;
  border-radius: 0.25em;
}
code {
  font-family: "VT323", "Roboto Mono";
  color: green;
  font-size: 100%;
}
h1,h2,h3,h4,h5,h6 {
  text-decoration: underline;
}
h1 {
  counter-reset: h2counter;
}
h2 {
  counter-increment: h2counter;
  counter-reset: h3counter;
}
h3 {
  counter-increment: h3counter;
  counter-reset: h4counter;
}
h4 {
  counter-increment: h4counter;
  counter-reset: h5counter;
}
h5 {
  counter-increment: h5counter;
}
h2:before {
  content: counter(h2counter) ". ";
}
h3:before {
  content: counter(h2counter) "." counter(h3counter) " ";
}
h4:before {
  content: counter(h2counter) "." counter(h3counter) "." counter(h4counter) " ";
}
h5:before {
  content: counter(h2counter) "." counter(h3counter) "." counter(h4counter) "." counter(h5counter) " ";
}
